.nav{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    margin: 40px 120px;
    color: aliceblue;
}
.nav-logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    font-weight: 500;
}
.nav-menu{
    display: flex;;
    align-items: center;
    gap: 90px;
    list-style: none;
    font-size: 20px;    
}
.nav-contact{
    border-radius: 50px;
    padding: 10px 38px;
    background: rgb(235, 221, 195);
    color: black;
}