.hero{
    margin: 0px 120px;
    margin-top: 270px;
}
.hero-text{
    color: aliceblue;
    font-size:110px;
    font-weight: 500;
    line-height: 130px;
}
.hero-explore{
    display: flex;
    align-items: center;
    gap: 50px;
    width: fit-content;
    margin-top: 70px;
    padding: 5px 8px;
    padding-left: 30px;
    border-radius: 60px;
    background-color: white;
    cursor: pointer;
}
.hero-explore p{
    color: black;
    font-size: 20px;
    font-weight: 500;

}
.hero-dot-play{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}
.hero-dots{
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}
.hero-dot{
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50px;
    cursor: pointer;
}
.hero-dot.orange{
    background: orangered;
}
.hero-play{
    display: flex;
    align-items: center;
}
.hero-play p{
    color: aliceblue;
    font-size: 19px;
}